.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vh;
  background-color: #f1fffa;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 1rem;
  /* Your new CSS code here */
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.tasks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #f1fffa;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  min-width: 50vh;
}
.a {
  border: 1px solid #f1fffa;
}
